<div id="main-title">
  SMS Pigeon
</div>

<div class="links">

  »<%= link_to "keyword information service", apartments_path %>
  <br/>
  <% unless @pending_cb.empty? %>
    <div id="pending_callback_indic">
      <%= link_to @pending_cb.size.to_s + 
      " pending call back requests", callbacks_outstanding_path %>  
    </div>
  <% end %>
  »<%= link_to "list service", lists_path %>
  <br/>
  »<%= link_to "user management", users_path %>
  <br/>
  »<%= link_to "admin", :controller=>'admin', :action=>'index' %>
  
</div>
