<%= calendar_date_select_includes "silver" %>

<div id="nav">
  <%= link_to "Home", root_url %>
  |
  <%= link_to "Keyword listing", apartments_path %>
</div>

<div class="header">
  <span class="title">
    Call back requests search
  </span>
  <h3>
    <%= @callbacks.size %> requests
    between <%= @s.strftime(@time_string) %> and <%=
    @e.strftime(@time_string) %>
  </h3>
</div>

<div id="user_search">
  <% form_tag(callbacks_path, :method => 'get') do %>
    <%= label_tag 's_date', 'start date: ' %>
    <%= calendar_date_select_tag :s_date, @s_date, 
    :month_year => "label", 
    :popup => :force, :valid_date_check => 
    "date <= (new Date()).stripTime()",
    :clear_button => false %>
    <br/>
    <%= label_tag 'e_date', 'end date:   ' %>
    <%= calendar_date_select_tag :e_date, @e_date, 
    :month_year => "label", 
    :popup => :force, :valid_date_check => 
    "date <= (new Date()).stripTime()",
    :clear_button => false %>
    <%= submit_tag 'Search', :name => nil %>
  <% end %>
</div>


<div id="callback_requests">
  <% @callbacks.each do |cb| %>
    <div id="cb_<%=cb.id.to_s%>">
      <%= render :partial => 'callbacks/callback', :locals => {:cb => cb} %> 
    </div>
  <% end %> 
</div>

