<div id="nav">
  <%= link_to "Home", root_url %>
  |
  <%= link_to 'New property', new_apartment_path %>
  |
  <%= link_to 'Call back request search', callbacks_path %>
</div>

<h1>Property listing</h1>

  <% @apartments.each do |apartment| %>
    <div class="apt">
      <div class="small_header">
        keyword: <%= link_to apartment.keyword, apartment %>
      </div>
      <div class="apt_add">
        <%= apartment.address %>
      </div>
    </div>
  <% end %>

