<div id="nav">
  <%= link_to "Home", root_url %>
  |
  <%= link_to 'Back', :back %>
</div>

<h1>New property</h1>

<% form_for(@apartment) do |f| %>
  <% unless @apartment.errors.empty? %>
    <div class="errorExplanation" id="errorExplanation">
      <h2>Please fix the problems with this propery.</h2>
    </div>
  <% end %>


  <div>
    <%= f.label :address %><br />
    <%= f.text_field :address %><br />
  </div>
      
  <div class="form_element">
    <% f.fields_for :keyword do |k| %>
      <%= k.label :value, "Keyword" %><br />
      <%= k.text_field :value %>
    <% end %>
    <div class="helper_text">
      Texting in this keyword will give the sender 
      information about this property.
    </div>
  </div>

  <div class="form_element">
    <%= f.check_box :pcb_disabled,  
    :onClick => visual_effect(:toggle_slide, "pics_input", :duration => 0.2) %>
    <%= f.label :pcb_disabled, "disable pictures and call back requests" %>
    <div class="helper_text">
      This will turn off the ability of the texter to
      request pictures or a call back. 
    </div>
  </div>


  <div id="pics_input">
  <div class="form_element">
    <span>Pictures</span><br />
    <% f.fields_for :pics do |builder| %>
      <%= render 'pic_fields', :f => builder %> 
    <% end %>
    <div>
      <%= link_to_add_fields "add pic", f, :pics %>
    </div>
    <div class="helper_text">
      These picture urls will get sent when the 
      texter requests pictures of this property.
    </div>
  </div>
  </div>
  
  <div class="form_element">
    <% f.fields_for :statuses do |s| %>
      <%= s.label :message, "Initial status" %><br /> 
      <%= s.text_area :message , :rows => 5 %>
    <% end %>
    <div class="helper_text">
      This status will get sent out when this property's
      keyword is texted in. 
    </div>
  </div>

  <p>
    <%= f.submit 'Create', :class => "submit_button" %>
  </p>

<% end %>

